/* stylelint-disable scss/dollar-variable-no-missing-interpolation */
@font-face {
  font-family: ebrima;
  src: url("/fonts/Ebrima.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: ebrima;
  font-weight: 500;
  src: url("/fonts/EbrimaBd.woff2") format("woff2");
  font-display: swap;
}

$white: #f7f7f7;
$dimatis-bg: #292929;
$secondary-bg: #0e0e0e;
$secondary-text: #a3a5a7;
$body: #151515;

:root {
  --bs-body-font-family: ebrima, sans-serif;
  --dark-color: #{$body};
  --bs-body-bg: #{$body};
  --bs-body-bg-rgb: #{to-rgb($body)};
  --bs-secondary: #{$secondary-text};
  --bs-secondary-rgb: #{to-rgb($secondary-text)};
  --bs-secondary-bg: #{$secondary-bg};
  --bs-secondary-bg-rgb: #{to-rgb($secondary-bg)};
  --bs-tertiary-bg: #{$dimatis-bg};
  --bs-tertiary-bg-rgb: #{to-rgb($dimatis-bg)};
  --bs-border-color: var(--bs-tertiary-bg);
  --bs-white: #{$white};
  --bs-white-rgb: #{to-rgb($white)};

  scrollbar-width: auto;
  scroll-behavior: unset;
}

body {
  letter-spacing: 0.2px;
  background-color: var(--dark-color)
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: var(--bs-dark);
}

*::-webkit-scrollbar-thumb {
  height: 56px;
  border-radius: 8px;
  border: 0 solid transparent;
  background-clip: content-box;
  background-color: var(--bs-secondary);
}

*::-webkit-scrollbar-thumb:hover {
  background-color: var(--bs-light);
}

::selection {
  background: #292929!important;
  color: var(--bs-white)!important;
}

.bg-light a {
  color: var(--dark-color)!important;
}

.bg-dark {
  background-color: var(--dark-color)!important;
}

.text-dark {
  color: var(--dark-color)!important;
}

.text-secondary {
  color: var(--bs-secondary)!important;
}
